<div id="todos-container">
  <ul id="todos">
    <%= for todo <- @conn.assigns.todos do %>
      <li id="todo-id-<%= todo.id %>">
        <input type="checkbox" <%= if todo.completed, do: "checked", else: "" %> class="todo-checkbox" data-todo-id="<%=todo.id %>"/>
        <label>
          <%= todo.name %>
        </label>
    <% end %>
  </ul>
</div>

<form action="#">
  <label> Create New Todo </label>
  <input type="text" id="new-todo-name"/>
  <input type="submit" id="create-todo"/>
</form>
